<%- include('../_partials/_head.ejs') %>
  <main class="fl-main">
    <div class="fl-container">
      <h1>All User Feed</h1>
      <section class="fl-photos-feed">
        <% posts.forEach(post=> { %>
          <section class="fl-photo">
            <span class="fl-image"><a href="/posts/<%= post._id %>" title="<%= post.title %>">
                <img src="<%= post.link %>" alt="<%= post.title %>" /></a>
            </span>
          </section>
          <% }) %>
      </section>
    </div>


  </main>

  <%- include('../_partials/_foot.ejs') %>