<%- include('../_partials/_head.ejs') %>
  <main class="fl-main">
    <section class="fl-card fl-card-single">
      <span class="fl-image">
        <img src="<%= post.link %>" width="300" />
      </span>

      <h1>
        <%= post.title %>
      </h1>
      <p>
        <%= post.body %>
          <form method="post" action="/posts/<%= post._id %>/like">
            <input name="likes" type="hidden" value="<%= post.likes %>" />
            <button class="btn btn-outline-primary"><i class="fas fa-heart"></i> Like (<%= post.likes %>)</button>
          </form>
      </p>
      <% if (user._id.toString()==post.user_id) { %>
        <form method="post" action="/posts?_method=DELETE">
          <input name="id" type="hidden" value="<%= post._id %>" />
          <button class="btn btn-outline-danger"><i class="fas fa-times"></i> Delete</button>
        </form>
        <% } %>
    </section>


  </main>

  <%- include('../_partials/_foot.ejs') %>